{% extends "flightSearch/template.html" %}

{% block content %}
	<div class="container-fluid">
        <div class="row">
            <center>
                <h2>Dados coletados</h2>
            </center>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">Viagens Mais longas</div>
                <table class="table">
                    <thead>
                        <th>Em kilômetros</th>
                        <th>Em tempo de vôo</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <table>
                                    <thead>
                                        <th>Trajeto</th>
                                        <th>Distância</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                AM - RS            
                                            </td>
                                            <td>
                                                3000
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                            <td>Amazonas - Rio Grande do Sul</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <br />
        </div>
	</div>
{% endblock %}